/* Animación de rotación circular para letras */
@keyframes rotate-circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-rotate-circle {
  animation: rotate-circle 20s linear infinite;
}

/* Animación para cada letra individual rotando alrededor del círculo */
@keyframes rotate-letter-around-circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-letter-circle {
  animation: rotate-letter-around-circle 20s linear infinite;
  transform-origin: center center;
}

